#admin-menu a.redmine-ip-filter { background-image: url(../images/redmine_ip_filter.png); }
form.edit_filter_rule .tabular.settings p {
  padding-left: 200px;
}
@media screen and (max-width: 899px) { form.edit_filter_rule .tabular.settings p { padding-left: 0px; } }
form.edit_filter_rule .tabular p textarea {
  padding-left: 0px;
  width: 200px;
}
.forbidden {
  margin: 40vh auto 0;
  transform: translateY(-50%);
  text-align: center;
  width: 50%;
}
.forbidden h1 {
  margin: 0 0 30px 0;
  font-size: 36px;
  color: #888;
}
.forbidden p.message {
  padding: 20px 10px;
  margin: 30px 0;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  color: #620f0f;
  background: #ffc6c6;
}
.forbidden p.info {
  margin: 0px;
  clear: left;
  text-align: left;
  padding-left: 160px;
}
.forbidden p label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-left: -160px;
  width: 150px;
}
